@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    
}
 
/* Track */
::-webkit-scrollbar-track {
    background: rgb(23 37 84);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(30 58 138);
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(59 130 246);

}

::-webkit-scrollbar-thumb:active {
    background: rgb(29 100 216);
}

.vertical-lr{
    writing-mode: vertical-lr
}

*{
    scroll-behavior: smooth;
}

.b-lowlight{
    background-color: rgb(33 47 94)
}

.preview-size{
    height: 284px;
    width: 650px;
}




